@font-face {
    font-family: 'adlery_proregular';
    src: url('../fonts/adlery-pro-trial-webfont.woff2') format('woff2'),
         url('../fonts/adlery-pro-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #E2E2EE;
}

.nav-link {
	color: #854C77;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #854C77;
}
.bg-light {
	background-color: #F1EDF4 !important;
}
.navbar {
	border-bottom: 1px solid #854C77;
}
.intro{
	background: url('../img/mirajaneri.jpg');
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
}
.intro .container {
	height: 500px;
}
.hashtag {
	font-family: 'adlery_proregular';
}
#demo {
	margin-top: 3rem;
}

@media (max-width: 575.98px) {
	.hashtag{
		margin-top: 15rem;
	}
	#demo {
		margin-top: 2rem;
	}
	.intro .container {
		height: 400px;
	}
	.intro{
		background: url('../img/mirajaneri.jpg');
		background-attachment: initial;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		color: #FFFFFF;
	}	
}

@media (min-width: 992px) {
	.main{
		min-height: 100vh;
	}
}