body {
	background: #E2E2EE;
}

.nav-link {
	color: #854C77;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #854C77;
}
.bg-light {
	background-color: #F1EDF4 !important;
}
.navbar {
	border-bottom: 1px solid #854C77;
}
.intro{
	background: url('../img/mirajaneri.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 800px;
	color: #FFFFFF;
}

.intro .container {
	height: 600px;
}